body
{
  overflow-x: hidden;
}
#head1 {
    background-color: #005689;
    width: 100%;
    height: 180px;
    color: #dff0d8;
    margin-top: -20px;
}

#head
{
	margin-left: 1000px;
	padding-top: 160px;
	color:white;
}

#head2 {
    height: 50px;
    margin-top: -168px;
}

#signin
{
	color:white;
	margin-left: 20px;
    margin-top: 20px;
}
#edition
{
	margin-left: 1150px;
	margin-top:-33px;
}
#more
{
	margin-left: 1090px;
	margin-top:-30px;
}
.btn-primary {
    background-color: #005689;
    border-color: #005689;
}
body
{
  position:relative;
}
#drop
{
	min-width:70px;
}
#nav
{
    margin-left: -20px;
    margin-top: 30px;
    background-color: #00456e;
    border-color: #00456e;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #00456e;
}

  

  div.col-sm-9 div 
  {
      height: 250px;
      font-size: medium;
      width:1200px;
  }

  #myScrollspy
  {
  	width: 15%;
    margin-left: -77px;
  }
  .nav 
  {
    
    margin-top:20px;  
}
#first
{
	
	margin-left: 20px;
	color:black;
}

#img
{
	width: 484px;
    margin-left: 3px;
    margin-top: 1px;
    height: 280px;
}
#img2
{
	width: 484px;
    margin-left: 3px;
    margin-top: 1px;
    height: 280px;
}
#date,#time
{
	color:black;
}

.col-sm-6 {
    width: 50%;
    margin-top: 30px;
    }

    #foot {
    background-color: #005689;
    width: 1500px;
    height: 180px;
    color: #dff0d8;
   // margin-top: 4100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 4600px;
    
}
#iframe
{
	width: 489px;
    height: 280px;
}

#f2,#f3,#f4,#f5,#f1
{
	width: 450px;
    margin-top: 10px;
}
#bttn
{
    color: white;
    background-color: #005689;
    border-color: #005689;
}
label
{
color:black;
}
#list
{
	width:300px;
}
#list1,#list2
{
	background-color: #005689;
    border-color: #005689;
    color: white;
}
#list2
{
	width:300px;
}
#copr
{
	color:white;
	margin-top:40px;
	margin-left:-110px;
}
#png
{
	width: 200px;
    margin-top: 60px;
    margin-left: 200px;
}
#im
{
	    width: 250px;
    margin-left: 976px;
    padding-top: 32px;
}
.container-fluid {
    margin-top: -21px;
    width:102%;}

  #h1,#h2,#h3,#h4
  {
  	color:#005689;
  }
  #h11,#h21,#h31,#h41,#h42
  {
  	color:grey;
  }

  
  #fb
  {
	width:27px;
	float:right;
  }
  #tw
  {
	width: 20px;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
  }
  #go
  {
  	width: 20px;
    float: right;
    padding-top: 3px;
    margin-right: 10px;
  }
  #comment
  {
  	color: #005689;
    padding-left: 20px;
  }
  title
  {
  	color:pink;
  }
  @media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
.input-group
{
  padding-top: 29px;
    width: 389px;
}

h5{
    font-size: 1.4em;
}   
.thirdcol
{
  color:black;
}      
.vertical .carousel-inner {
  height: 100%;
  padding-top: 0px;
    margin-top: 30px;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}
ul
{
  list-style: none;
}

#listitem {
    background-color: whitesmoke;
    width: 90%;
    height: 300px;
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #005689;
    }

#image
{
  width: 100%;
  height: 80%;
  color:blue;
}
.maindiv
{
	background-color: white;
	    border: 1px solid #ddd;
	height:1480px;
	width:180%;
	margin-top: 30px;
    padding-top: 20px;
    overflow-y:scroll;

}